<form #createToDoItemForm="ngForm" (ngSubmit)="onSubmit(createToDoItemForm)">
    <input
        type="text"
        placeholder="{{ 'AddTaskInputPlaceHolder' | transloco }}"
        class="todo-add"
        size="30"
        [(ngModel)]="newToDo"
        name="newToDo"
        (ngModelChange)="changeValue()"
        appTextTitle [text]="'AddTaskInputTitle'"
        required
    >

    <button
        type="submit"
        [disabled]="createToDoItemForm.invalid"
        class="button button-add"
        appTextTitle [text]="'AddNewTaskTitle'"
        [style.opacity] = "opacity"
    >{{ 'AddTask' | transloco }}</button>
        
    <textarea
        cols="30"
        rows="5"
        placeholder="{{ 'AddTaskTextAreaPlaceHolder' | transloco }}"
        class="tooltip-add"
        [(ngModel)]="newToolTip"
        appTextTitle [text]="'NewTaskDescriptionTitle'"
        name="newToolTip"
    ></textarea>
</form>