@if ( isLoading ) {
    <img src="gs-animated.gif" alt="loading ...">
}
@else {
    <h1>ToDo List</h1>

    <select [(ngModel)]="fl">
        <option [ngValue]="null">ALL</option>
        <option value="InProgress">in progress</option>
        <option value="Completed">completed</option>
    </select>
    <div class="list-container">
        
        <ul class="list">
            @for (toDoItem of curToDoList; track toDoItem.id) {
                @if  ( filter(toDoItem) )  {
                    <div [class.selected] = "isSelected(toDoItem.id)" >
                        <app-to-do-list-item [toDo]="toDoItem"
                                            (deleteItemEvent)="deleteToDo($event)"
                                            (selectItemEvent)="selectToDo($event)"
                                            (changedItemEvent)="changeToDo($event)"
                                            (changedItemStatusEvent)="changeToDoStatus($event)"                              
                        ></app-to-do-list-item>
                    </div>
                }
            }
        </ul>
        <div style="min-width: 20px;"></div>
        <div class="tooltip" *appShowIf='showToolTip()'>{{ curToolTip }}</div>
    </div>

    <app-todo-create-item (addItemEvent)="addToDo($event)"></app-todo-create-item>
        
    <app-toasts-component [display]="displayToasts"></app-toasts-component>


}