:host {
    /*background-color: red;*/
    position: relative;
    left: 5%;
}

h1 {
    /*border: 1px solid black;*/
    /*width: 50%;*/
}

ul.list {
    /*border: 1px solid black;*/
    padding-left: 0px;
    width: 50%;
}

.button {
    color: white;
    border: 0px;
    border-radius: 10px;
}

.button-add {
    background-color: green;
    padding: 10px;
    margin-left: 0.5em;
    display: inline;
}

.todo-add {
    color: gray;
    background-color: white;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-left: 0.5em;
    display: inline;
}

img {
    padding: 50px;
    height: 100px;
    width: 100px;
}