:host {
    /*background-color: red;*/
    position: relative;
    left: 50px;
}

h1 {
    /*border: 1px solid black;*/
    /*width: 50%;*/
}

div.list-container {
    display: flex;
    align-items: first baseline;
    justify-content: start;
}
ul.list {
    /*border: 1px solid black;*/
    padding-left: 0px;
    width: 30%;
    display: inline-block;
    vertical-align: top;
}

.button {
    color: white;
    border: 0px;
    border-radius: 10px;
}

.button-add {
    background-color: green;
    padding: 10px;
    margin-left: 0.5em;
}

.todo-add {
    color: gray;
    background-color: white;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-left: 0.5em;
    display: inline;
}

.tooltip-add {
    background-color: white;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-left: 0.5em;
    display: block;
}

img {
    padding: 50px;
    height: 100px;
    width: 100px;
}

.selected {
    background-color: lightgreen;
    padding: 0px;
}
