.title-container {
    background-color: black;
    white-space: nowrap;
    text-align: center;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    max-height: 45px;
    height: 45px;
    width: 10%;
    position: fixed;
    z-index: 2;
}