.tooltip {
    border: 1px solid yellowgreen;
    min-width: 200px;
    min-height: 100px;
    max-height: 100px;
    border-radius: 10px;
    display: inline-block;
    vertical-align: bottom;
    padding: 10px;
}
